<%- include(header) %>
<div class="padding-content">
    <div class="container">
        <div id="chat">
            <!--<div class="container" id="list" v-for="list in listMessage">-->
            <!--<h4>{{list.message}}</h4>-->
            <!--</div>-->
            <% messageList.forEach(function(msg) { %>
                <div>
                    <div class="col-sm-12 col-xs-12">
                        <% if (msg.sender == sender) { %>
                            <div class="pull-right text-chat-sender"><%= msg.message %></div>
                        <% } else { %>
                            <div class="pull-left text-chat-receiver"><%= msg.message %></div>
                        <% } %>
                    </div>
                </div>
            <% }); %>
            <div id="">
                <div id="messages"></div>
            </div>
            <div class="" v-if="write">
                <img :src="imgTyping"/>
            </div>
            <div class="col-md-12 col-xs-12">
                <% include ../includes/sendbox %>
            </div>
        </div>
    </div>
</div>
<%- include(footer) %>

<script>
    new Vue({
        el: '#chat',
        data: {
            receiver: '<%= friendId %>',
            sender: '<%= sender %>',
            listMessage: [],
            message: '',
            write: false,
            imgTyping: '/images/typing.gif'
        },
        mounted() {
            var _this = this;
            socket.on('server event ' + this.sender, function (data) {
                console.log(socket.id);
                $('#messages').append('<div class="col-sm-12 col-xs-12"><div class="pull-left text-chat-receiver">' + data.message + '</div></div>');
                _this.write = false;
                _this.message = '';
            });

            socket.on('typing status ' + this.sender, function (typing) {
                _this.write = typing.status;
            });
        },
        methods: {
            sendMessage: function(e) {
                e.preventDefault();
                var _this = this;
                var clientData = {
                    message: this.message,
                    receiver: this.receiver,
                    sender: this.sender
                };
                socket.emit('client event', clientData);
                $('#messages').append('<div class="col-sm-12 col-xs-12"><div class="pull-right text-chat-sender">' + this.message + '</div></div>');
                this.message = '';
            },
            typing: function() {
                var typing = {
                    status: true,
                    receiver: this.receiver
                };
                socket.emit('typing event', typing);
            },
//            inFocus: function() {
//                var typing = {
//                    status: true,
//                    receiver: this.receiver
//                };
//                socket.emit('typing event', typing);
//            },
            outFocus: function() {
                var typing = {
                    status: false,
                    receiver: this.receiver
                };
                socket.emit('typing event', typing);
            }
        }
    });
</script>
